name: Terraform GitOps

on:
  pull_request:
    branches: [ "main" ]
  push:
    branches:
      - "feature/*"
      - main

  workflow_dispatch:
    inputs:
      region:
        description: "AWS Region"
        required: true
        default: "us-east-1"
        type: choice
        options:
          - us-east-1
          - eu-west-1

      

jobs:
  terraform:
    runs-on: ubuntu-latest

    env:
      TF_WORKING_DIR: ./terraform
      AWS_ACCESS_KEY_ID:     ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

    steps:
      # ---------------------------
      # Checkout
      # ---------------------------
      - name: Checkout
        uses: actions/checkout@v3

      # ---------------------------
      # Setup Terraform
      # ---------------------------
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.5

      # ---------------------------
      # Configure AWS
      # ---------------------------
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ github.event.inputs.region || 'us-east-1' }}

      # ---------------------------
      # Determine env + region
      # ---------------------------
      - name: Set variables
        id: vars
        run: |
          # Detect env based on branch
          if [[ "${GITHUB_REF##*/}" == "main" ]]; then
            ENV="prod"
          else
            ENV="dev"
          fi

          REGION="${{ github.event.inputs.region || 'us-east-1' }}"
          FILE="${ENV}.${REGION}.tfvars"

          echo "env=$ENV" >> $GITHUB_OUTPUT
          echo "region=$REGION" >> $GITHUB_OUTPUT
          echo "tfvars_file=$FILE" >> $GITHUB_OUTPUT
          echo "Selected tfvars: $FILE"

      # ---------------------------
      # Terraform Init
      # ---------------------------
      - name: Terraform Init
        working-directory: ${{ env.TF_WORKING_DIR }}
        run: |
          terraform init \
            -backend-config="bucket=github-aws-web-identity-terraform-state" \
            -backend-config="key=${{ steps.vars.outputs.env }}/${{ steps.vars.outputs.region }}/terraform.tfstate" \
            -backend-config="region=us-east-1" \
            -backend-config="dynamodb_table=tf-locks" \
            -backend-config="encrypt=true"

      # ---------------------------
      # Terraform Plan (all branches)
      # ---------------------------
      - name: Terraform Plan
        working-directory: ${{ env.TF_WORKING_DIR }}
        run: |
          terraform plan \
            -var-file="${{ steps.vars.outputs.tfvars_file }}" \
            -out="tfplan"

      # Upload plan for PR or logs
      - name: Upload Plan Artifact
        uses: actions/upload-artifact@v4
        with:
          name: tfplan
          path: ${{ env.TF_WORKING_DIR }}/tfplan

      # ---------------------------
      # Manual approval ONLY on main before apply
      # ---------------------------
      - name: Manual Approval
        if: github.ref == 'refs/heads/main'
        uses: trstringer/manual-approval@v1.12.0
        with:
          approvers: "${{ github.repository_owner }}"
          minimum-approvals: 1
          issue-title: "Approve Apply | Env: ${{ steps.vars.outputs.env }} | Region: ${{ steps.vars.outputs.region }} | Run ID: ${{ github.run_id }}"
          issue-body: |
            **Terraform Apply Requested**

            **Environment:** ${{ steps.vars.outputs.env }}
            **Region:** ${{ steps.vars.outputs.region }}
            **Run ID:** ${{ github.run_id }}
            **tfvars File:** $${{ steps.vars.outputs.tfvars_file }}
            **actor:** ${{ github.actor }}
            **triggered by:** ${{ github.event_name }}
            **triggered actor:** ${{ github.triggering_actor }}

            Only **${{ github.repository_owner }}** can approve this deployment.
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # ---------------------------
      # Terraform Apply (only on main)
      # ---------------------------
      - name: Terraform Apply
        if: github.ref == 'refs/heads/main'
        working-directory: ${{ env.TF_WORKING_DIR }}
        run: terraform apply -auto-approve tfplan
